.world {
  width: 520px; /* ajusta el ancho a tu preferencia */
  margin: 50px auto; /* centra el contenedor en la página */
}

.row {
  margin-bottom: 6px; /* separación entre filas */
}

.compound {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 16px; /* separación entre sustancias */
}
